<section class="bg-dark position-relative overflow-hidden py-5">
  <div
    class="d-none d-dark-mode-block position-absolute top-0 start-0 w-100 h-100"
    style="background-color: rgba(255, 255, 255, 0.03)"
  ></div>
  <div
    class="container position-relative z-2 pt-3 pb-sm-3 pt-sm-4 py-md-5 my-lg-2 my-xl-3 my-xxl-4"
    data-bs-theme="dark"
  >
    <div
      class="row align-items-center py-xxl-2"
      data-aos="fade-up"
      data-aos-duration="600"
      data-aos-offset="300"
      data-disable-parallax-down="md"
    >
      <div class="col-md-6 pb-3 pb-md-0 mb-3 mb-md-0">
        <img
          src="assets/img/about/product/features/01.png"
          width="620"
          alt="Image"
        />
      </div>
      <div
        class="col-md-6 col-lg-5 col-xxl-4 offset-lg-1"
        data-aos="fade-up"
        data-aos-duration="850"
        data-aos-offset="200"
        data-disable-parallax-down="md"
      >
        <div class="ps-md-4 ps-lg-0">
          <h2 class="mb-lg-4">
            Segment your audience using a variety of methods
          </h2>
          <p class="text-body pb-lg-2 mb-xl-4">
            Segmentation allows you to divide users according to a given
            criterion, and then for each of the groups to develop an ads and
            product. Bibendum velit mi, ac sed ac malesuada ultrices non lectus
            mi pellentesque vel at tempus cras sed a eleifend augue amet mauris,
            leo ac amet erat malesuada ultrices.
          </p>
          <a class="btn btn-lg btn-link px-0" href="javascript:void(0);">
            Learn more
            <i class="ai-arrow-right ms-2"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container pt-5 mt-lg-2 mt-xl-4 mt-xxl-5">
  <div
    class="row align-items-center pt-2 pt-sm-4 pt-md-5 mt-xl-2 mt-xxl-3"
    data-aos="fade-up"
    data-aos-duration="600"
    data-aos-offset="300"
    data-disable-parallax-down="md"
  >
    <div class="col-md-7 offset-xl-1 pb-3 pb-md-0 mb-3 mb-md-0 order-md-2">
      <img
        class="d-dark-mode-none"
        src="assets/img/about/product/features/02-light.png"
        width="744"
        alt="Image"
      />
      <img
        class="d-none d-dark-mode-block"
        src="assets/img/about/product/features/02-dark.png"
        width="744"
        alt="Image"
      />
    </div>
    <div
      class="col-md-5 col-xl-4 order-md-1"
      data-aos="fade-up"
      data-aos-duration="850"
      data-aos-offset="200"
      data-disable-parallax-down="md"
    >
      <h2 class="mb-lg-4">Key performance indicators of audience</h2>
      <p class="pb-1 pb-md-2 mb-xl-4">
        You can easily identify interdependencies between different indicators,
        identify tendencies and prevent potential difficulties and problems. Nec
        id eget suada urna at sed est adipiscing auctor massa id duis fames.
      </p>
      <div class="row row-cols-2">
        <div class="col">
          <div class="d-table bg-info text-white rounded-1 p-2 mb-3">
            <i class="ai-time fs-3 m-1"></i>
          </div>
          <h3 class="h5 mb-2">Build in minutes</h3>
          <p class="fs-sm mb-0">
            Eu dignissim arcu, iaculis orci hendrerit commodo leo eget commodo
            ornare et.
          </p>
        </div>
        <div class="col">
          <div class="d-table bg-danger text-white rounded-1 p-2 mb-3">
            <i class="ai-cloud-download fs-3 m-1"></i>
          </div>
          <h3 class="h5 mb-2">Download data</h3>
          <p class="fs-sm mb-0">
            Adipiscing in aliquam iaculis pellentesque facilisi commo consequat
            in ornare.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container pt-5 mt-lg-2 mt-xl-4 mt-xxl-5">
  <div
    class="row align-items-center pt-2 pt-sm-4 pt-md-5 mt-xl-2 mt-xxl-3"
    data-aos="fade-up"
    data-aos-duration="600"
    data-aos-offset="300"
    data-disable-parallax-down="md"
  >
    <div class="col-md-6 col-lg-5 pb-3 pb-md-0 mb-3 mb-md-0">
      <img
        src="assets/img/about/product/features/03.png"
        width="526"
        alt="Image"
      />
    </div>
    <div
      class="col-md-6 col-lg-5 col-xxl-4 offset-lg-1 offset-xxl-2"
      data-aos="fade-up"
      data-aos-duration="850"
      data-aos-offset="200"
      data-disable-parallax-down="md"
    >
      <div class="ps-md-4 ps-lg-0">
        <h2 class="mb-lg-4">
          Make visualization of data analysis results simple and clear way
        </h2>
        <p class="pb-2 pb-md-3 mb-xl-4">
          Morbi et massa fames ac scelerisque sit commodo dignissim faucibus vel
          quisque proin lectus laoreet sem adipiscing sollicitudin erat massa
          tellus lorem enim aenean phasellus in hendrerit interdum lorem proin
          pretium dictum urna suspendisse quis risus et.
        </p>
        <a
          class="btn btn-lg btn-outline-primary rounded-pill"
          href="javascript:void(0);"
          >Start free 14-day trial</a
        >
      </div>
    </div>
  </div>
</section>
