<section class="container pb-4 pb-md-5 mb-lg-4">
  <div
    class="bg-size-cover bg-repeat-0 bg-position-center rounded-1 mb-md-2 py-xl-4 py-xxl-5"
    style="background-image: url(assets/img/shop/single/01.jpg)"
  >
    <div class="row py-lg-5">
      <div
        class="col-md-8 offset-md-3 col-lg-6 offset-lg-5 col-xl-5 offset-xl-6 py-5"
      >
        <div class="bg-light rounded-1 mx-4 p-4 p-md-5">
          <div class="py-3 p-sm-3">
            <h2 class="h3 mb-sm-4">Scented candle</h2>
            <p class="mb-0">
              Ut sit at orci cursus gravida pretium proin nulla id purus,
              placerat eget mauris eu ac volutpat facilisi eget morbi
              ullamcorper turpis nisi aconsequat cursus malesuada leo ultrices
              nisl dictumst turpis tortor sem amet, euismod aliquam, lacus
              laoreet dui facilisi morbi ullamcorper turpis nisi aconsequat
              cursus volutpat facilisi eget.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container pb-5 mb-sm-2 mb-lg-3 mb-xl-4 mb-xxl-5">
  <div class="row align-items-center pb-md-3">
    <div class="col-md-6 col-lg-5 mb-4 mb-md-0">
      <img class="rounded-1" src="assets/img/shop/single/02.jpg" alt="Image" />
    </div>
    <div class="col-md-6 col-lg-5 offset-lg-1">
      <div class="ps-md-4 ps-lg-0">
        <h2 class="h3 mb-sm-4">Description</h2>
        <p class="mb-4 mb-lg-5">
          Ut sit at orci cursus gravida pretium proin nulla id purus, placerat
          eget mauris eu ac volutpat facilisi eget morbi ullamcorper turpis nisi
          aconsequat cursus malesuada leo ultrices nisl dictumst turpis tortor
          sem eu ac volutpat facilisi eget morbi
        </p>
        <ul class="list-unstyled mb-0">
          <li class="mb-3">
            Weight:<span class="text-dark fw-semibold ms-2"
              >140 - 440 gramms</span
            >
          </li>
          <li class="mb-3">
            Material:<span class="text-dark fw-semibold ms-2"
              >Concrete bowl</span
            >
          </li>
          <li class="mb-3">
            Duration:<span class="text-dark fw-semibold ms-2"
              >60 hours of comfort and combustion</span
            >
          </li>
          <li class="mb-3">
            Composition:<span class="text-dark fw-semibold ms-2"
              >100% soy wax, cotton wick</span
            >
          </li>
          <li>
            Country:<span class="text-dark fw-semibold ms-2">Frances</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
