<footer class="footer py-5">
  <div class="container pt-md-2 pt-lg-3 pt-xl-4">
    <div class="row pb-5 pt-sm-2 mb-lg-2">
      <div class="col-md-12 col-lg-3 pb-2 pb-lg-0 mb-4 mb-lg-0">
        <component-logo-box className="py-0 mb-3 mb-lg-4" />

        <p class="fs-sm pb-2 pb-lg-3 mb-3">
          Tellus non diam morbi quam vel venenatis proin sed. Dolor elementum
          nunc dictum
        </p>
        <div class="d-flex">
          <a
            class="btn btn-icon btn-sm btn-secondary btn-facebook rounded-circle me-3"
            href="javascript:void(0);"
            aria-label="Facebook"
          >
            <i class="ai-facebook"></i>
          </a>
          <a
            class="btn btn-icon btn-sm btn-secondary btn-instagram rounded-circle me-3"
            href="javascript:void(0);"
            aria-label="Instagram"
          >
            <i class="ai-instagram"></i>
          </a>
          <a
            class="btn btn-icon btn-sm btn-secondary btn-linkedin rounded-circle"
            href="javascript:void(0);"
            aria-label="LinkedIn"
          >
            <i class="ai-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-3 col-lg-2 offset-xl-1 mb-4 mb-sm-0">
        <ul class="nav flex-column">
          @for (data of services; track $index) {
            <li>
              <a class="nav-link py-1 px-0" href="javascript:void(0);">{{
                data
              }}</a>
            </li>
          }
        </ul>
      </div>
      <div class="col-sm-4 col-lg-2 mb-4 mb-sm-0">
        <ul class="nav flex-column">
          <li>
            <a class="nav-link py-1 px-0" href="mailto:contact@example.com"
              >contact&#64;example.com</a
            >
          </li>
          <li>
            <a class="nav-link py-1 px-0" href="tel:+15262200459"
              >+1&nbsp;526&nbsp;220&nbsp;0459</a
            >
          </li>
          <li>
            <a class="nav-link py-1 px-0" href="tel:+15262200444"
              >+1&nbsp;526&nbsp;220&nbsp;0444</a
            >
          </li>
        </ul>
      </div>
      <div class="col-sm-5 col-lg-4 col-xl-3 offset-lg-1">
        <h3 class="h6 mb-2">Stay up to date</h3>
        <p class="fs-sm">Subscribe to our news and case studies</p>
        <div class="input-group input-group-sm">
          <input class="form-control" type="text" placeholder="Your email" />
          <button class="btn btn-primary" type="button">Subscribe</button>
        </div>
      </div>
    </div>
    <p class="nav fs-sm mb-0">
      <span class="text-body-secondary"
        >&copy; All rights reserved. Made by</span
      >
      <a
        class="nav-link fw-normal p-0 ms-1"
        href="{{ developBy }}"
        target="_blank"
        rel="noopener"
        >{{ author }}</a
      >
    </p>
  </div>
</footer>
