<section class="container pb-5 mb-lg-4 mb-xl-5">
  <div class="row pb-2 pb-sm-3 pb-md-4 mb-xlx-1">
    <div class="col-lg-6 mb-4 mb-lg-0">
      <div class="row pb-2 pb-sm-3 pb-lg-0 pb-xxl-2 mb-4 mb-lg-5">
        <div class="col-md-11 col-xl-10">
          <h2 class="h1 mb-lg-4">Discount and sales</h2>
          <p class="mb-0">
            Find aute irure reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur neque congue aliqua dolor do amet sint ovar
            velit officia reprehenderit in voluptate pariatur.
          </p>
        </div>
      </div>
      <div class="position-relative pt-5 pb-2 py-sm-5 px-4 ps-sm-5 pe-sm-0">
        <div
          class="bg-primary position-absolute top-0 start-0 h-100 rounded-1 opacity-30 d-none d-sm-block"
          style="width: calc(100% - 38px)"
        ></div>
        <div
          class="bg-primary position-absolute top-0 start-0 w-100 h-100 rounded-1 opacity-30 d-sm-none"
        ></div>
        <div
          class="d-sm-flex align-items-center position-relative z-2 py-xl-3 px-2 px-sm-0 ps-xl-3"
        >
          <div class="text-center text-sm-start me-sm-n4 me-md-3 me-lg-n2">
            <div class="fs-xs text-uppercase pb-4 pb-md-5 mb-2 mb-md-0 mb-lg-3">
              Best selling
            </div>
            <h2 class="pb-3 mb-md-4">
              Wall clocks with a discount of up to 40%
            </h2>
            <div
              class="countdown d-flex flex-wrap flex-lg-nowrap justify-content-center justify-content-sm-start pb-4 pb-md-5 mb-2 mb-md-0 mb-lg-3"
              data-countdown-date="01/01/2026 12:00:00"
            >
              <div class="text-center mb-2">
                <div class="bg-light rounded-1 p-2">
                  <div class="h2 fw-normal mb-0 mx-1">{{ countdown.days }}</div>
                </div>
                <span class="text-dark fs-sm">days</span>
              </div>
              <span class="text-white fs-2 mx-2">:</span>
              <div class="text-center mb-2">
                <div class="bg-light rounded-1 p-2">
                  <div class="h2 fw-normal mb-0 mx-1">
                    {{ countdown.hours }}
                  </div>
                </div>
                <span class="text-dark fs-sm">hours</span>
              </div>
              <span class="text-white fs-2 mx-2">:</span>
              <div class="text-center mb-2">
                <div class="bg-light rounded-1 p-2">
                  <div class="h2 fw-normal mb-0 mx-1">
                    {{ countdown.minutes }}
                  </div>
                </div>
                <span class="text-dark fs-sm">mins</span>
              </div>
            </div>
            <a class="btn btn-outline-dark mb-lg-3" routerLink="/shop/catalog"
              >Explore the catalog</a
            >
          </div>
          <div
            class="flex-xl-shrink-0 mx-auto ms-lg-0 me-lg-n4"
            style="max-width: 362px"
          >
            <img
              class="d-block ms-n2 ms-sm-0"
              src="assets/img/landing/shop-1/banner-2.png"
              alt="Image"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div
        class="d-flex flex-column flex-md-row flex-lg-column h-100 ps-lg-4 me-md-4 me-lg-0 ms-lg-2"
      >
        <div
          class="bg-secondary d-flex rounded-1 ps-4 ps-lg-5 py-2 py-md-3 py-lg-4 mb-4 mb-md-0 mb-lg-4 me-md-4 me-lg-0"
        >
          <div
            class="d-flex flex-column ps-0 ps-sm-3 ps-md-0 ps-xl-3 py-4 me-n5 me-sm-0"
          >
            <div class="fs-sm text-uppercase">Sale</div>
            <div class="my-auto me-md-n5">
              <div class="h3 display-2 mb-0">10%</div>
              <div class="h2 mb-2">off the first order</div>
              <div class="fs-sm">When ordering from $120 in one payment</div>
            </div>
          </div>
          <img
            class="d-block my-2"
            src="assets/img/landing/shop-1/banner-1.png"
            width="235"
            alt="Image"
          />
        </div>
        <div
          class="d-flex align-items-center border rounded-1 p-4 p-lg-5 mt-lg-auto"
        >
          <div class="pt-3 pb-2 px-sm-3 px-md-2 px-lg-0 px-xl-3">
            <h3 class="h2 mb-2">Subscribe to the newsletter</h3>
            <p class="fs-sm pb-3 mb-3">
              Receive information about discounts and new arrivals
            </p>
            <div class="input-group input-group-sm" style="max-width: 360px">
              <input
                class="form-control"
                type="email"
                placeholder="Your email"
              />
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
