<div class="row mt-5 pt-sm-2 pt-lg-3 pt-xl-4 pt-xxl-5">
  <div class="col-md-10 col-lg-8 col-xl-7 pt-md-3 pt-lg-4">
    <h2 class="pb-sm-2">Content marketing</h2>
    <p class="fs-lg mb-2 mb-sm-3 mb-lg-2">
      Diam at quam a sagittis non tellus penatibus massa, gravida eu sit nunc,
      eu, amet mattis massa tincidunt sagittis. Semper imperdiet viverra netus
      euismod eget sed condimentum netus. Lectus odio eros eu nibh habitant
      elementum elementum, morbi pharetra, amet neque in donec massa morbi sed
      vehicula varius ipsum et morbi eu ut.
    </p>
  </div>
</div>
<div class="row pt-4 pt-lg-5">
  <div class="col-sm-8 mb-4 mb-sm-0">
    <img
      class="rounded-5"
      src="assets/img/portfolio/single/v1/04.jpg"
      alt="Image"
    />
  </div>
  <div class="col-sm-4">
    <img
      class="rounded-5"
      src="assets/img/portfolio/single/v1/05.jpg"
      alt="Image"
    />
  </div>
</div>
