<div class="d-sm-flex align-items-center mb-4">
  <h1 class="h2 mb-4 mb-sm-0 me-4">Your earnings</h1>
  <div class="d-flex ms-auto">
    <button class="btn btn-secondary me-3 me-sm-4" type="button">
      <i class="ai-download me-2 ms-n1"></i>
      Download
    </button>
    <select class="form-select">
      <option value="Last week">Last week</option>
      <option value="Last month">Last month</option>
      <option value="Last 3 months">Last 3 months</option>
      <option value="Last 6 months">Last 6 months</option>
      <option value="Last year">Last year</option>
    </select>
  </div>
</div>
