<footer
  class="footer bg-dark pb-3 pt-sm-3 py-md-4 py-lg-5"
  data-bs-theme="dark"
>
  <div class="container pb-4 pt-5">
    <div
      class="d-md-flex align-items-center justify-content-between pb-1 pb-md-0 mb-4 mb-md-5"
    >
      <nav
        class="nav justify-content-center justify-content-md-start pb-sm-2 pb-md-0 mb-4 mb-md-0 ms-md-n3"
      >
        @for (item of features; track $index) {
          <a class="nav-link py-1 px-0 mx-3" href="javascript:void(0);">{{
            item
          }}</a>
        }
      </nav>
      <div
        class="d-flex justify-content-center justify-content-md-start me-md-n2"
      >
        <a
          class="btn btn-icon btn-sm btn-secondary btn-instagram rounded-circle mx-2"
          href="javascript:void(0);"
          aria-label="Instagram"
        >
          <i class="ai-instagram"></i>
        </a>
        <a
          class="btn btn-icon btn-sm btn-secondary btn-facebook rounded-circle mx-2"
          href="javascript:void(0);"
          aria-label="Facebook"
        >
          <i class="ai-facebook"></i>
        </a>
        <a
          class="btn btn-icon btn-sm btn-secondary btn-x rounded-circle mx-2"
          href="javascript:void(0);"
          aria-label="X"
        >
          <i class="ai-x"></i>
        </a>
        <a
          class="btn btn-icon btn-sm btn-secondary btn-linkedin rounded-circle mx-2"
          href="javascript:void(0);"
          aria-label="LinkedIn"
        >
          <i class="ai-linkedin"></i>
        </a>
      </div>
    </div>
    <div
      class="d-md-flex align-items-center justify-content-between text-center text-md-start"
    >
      <a
        class="nav-link d-inline-block text-body-secondary fs-sm text-decoration-none order-md-2 py-1 px-0 mb-3 mb-md-0"
        href="javascript:void(0);"
        >Privacy policy</a
      >
      <p class="nav fs-sm order-md-1 mb-0">
        <span class="text-body-secondary"
          >&copy; All rights reserved. Made by</span
        >
        <a
          class="nav-link d-inline fw-normal p-0 ms-1"
          href="{{ developBy }}"
          target="_blank"
          rel="noopener"
          >{{ author }}</a
        >
      </p>
    </div>
  </div>
</footer>
