<section class="container pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
  <h2
    class="display-5 text-center pt-2 pt-sm-3 pt-md-4 pt-lg-5 pb-lg-3 mt-xxl-2 mb-0"
  >
    Around customizer
  </h2>

  <div
    class="row align-items-center py-4 mt-2 mt-sm-3 mt-md-4 mb-2 mb-md-3 mb-lg-4"
    data-aos="fade-up"
    data-aos-duration="600"
    data-aos-offset="300"
    data-disable-parallax-down="md"
  >
    <div class="col-md-6 col-lg-7 order-md-2 d-flex justify-content-end">
      <img
        class="d-dark-mode-none"
        src="assets/img/landing/intro/customizer/colors-light.svg"
        width="593"
        alt="Colors"
      />
      <img
        class="d-none d-dark-mode-block"
        src="assets/img/landing/intro/customizer/colors-dark.svg"
        width="593"
        alt="Colors"
      />
    </div>
    <div
      class="col-md-6 col-lg-5 order-md-1 mt-md-n5"
      data-aos="fade-up"
      data-aos-duration="850"
      data-aos-offset="200"
      data-disable-parallax-down="md"
    >
      <span class="badge fs-sm bg-primary bg-opacity-10 text-primary mb-4"
        >Colors</span
      >
      <h2 class="mb-4">Change theme brand colors quickly and easily</h2>
      <p class="fs-lg mb-0 mb-lg-4">
        Customize theme colors to match your brand palette using the color
        picker or just type in the color hex. Supported colors: primary,
        warning, success, info, danger.
      </p>
    </div>
  </div>

  <div
    class="row align-items-center py-4 my-2 my-md-3 my-lg-4"
    data-aos="fade-up"
    data-aos-duration="600"
    data-aos-offset="300"
    data-disable-parallax-down="md"
  >
    <div class="col-md-6 col-lg-7">
      <img
        class="d-dark-mode-none"
        src="assets/img/landing/intro/customizer/typography-light.svg"
        width="636"
        alt="Typography"
      />
      <img
        class="d-none d-dark-mode-block"
        src="assets/img/landing/intro/customizer/typography-dark.svg"
        width="636"
        alt="Typography"
      />
    </div>
    <div
      class="col-md-6 col-lg-5 mt-md-n4"
      data-aos="fade-up"
      data-aos-duration="850"
      data-aos-offset="200"
      data-disable-parallax-down="md"
    >
      <span class="badge fs-sm bg-info bg-opacity-10 text-info mb-4"
        >Typography</span
      >
      <h2 class="mb-4">Set up fonts from the huge Google font collection</h2>
      <p class="fs-lg mb-0 mb-lg-4">
        Easily change the font to your liking. Choose the font from Google Fonts
        library of 1,442 open source font families. Update headings and body
        font sizes right from customizer.
      </p>
    </div>
  </div>

  <div
    class="row align-items-center py-4 my-2 my-md-3 my-lg-4"
    data-aos="fade-up"
    data-aos-duration="600"
    data-aos-offset="300"
    data-disable-parallax-down="md"
  >
    <div
      class="col-md-6 col-lg-7 order-md-2 d-flex justify-content-end pb-2 pb-md-0 mb-4 mb-md-0"
    >
      <img
        class="d-dark-mode-none"
        src="assets/img/landing/intro/customizer/borders-light.svg"
        width="636"
        alt="Borders"
      />
      <img
        class="d-none d-dark-mode-block"
        src="assets/img/landing/intro/customizer/borders-dark.svg"
        width="636"
        alt="Borders"
      />
    </div>
    <div
      class="col-md-6 col-lg-5 order-md-1"
      data-aos="fade-up"
      data-aos-duration="850"
      data-aos-offset="200"
      data-disable-parallax-down="md"
    >
      <span class="badge fs-sm bg-danger bg-opacity-10 text-danger mb-4"
        >Borders</span
      >
      <h2 class="mb-4">Rounded or square? Customize borders as you wish</h2>
      <p class="fs-lg mb-0 mb-lg-4">
        It's up to you to make your website soft and friendly with increased
        border radius or add business vibes with less rounded shapes. You can
        also change border width.
      </p>
    </div>
  </div>
</section>
