<section class="container pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
  <div
    class="text-center pb-3 pt-2 pt-sm-3 pt-md-4 pt-xl-5 mx-auto mb-sm-2 mb-md-3 mb-lg-4"
    style="max-width: 525px"
  >
    <h2 class="h1">About Around</h2>
    <p class="mb-0">
      Enim aenean phasellus in hendrerit interdum lorem proin pretium, dictum
      urna suspendisse quis risus vivamus.
    </p>
  </div>
  <div class="row row-cols-2 row-cols-sm-3 gy-sm-2 g-md-4">
    @for (item of allCoworkingAbout; track $index) {
      <div class="col card border-0 bg-transparent p-xxl-2">
        <div class="card-body text-center p-3 p-sm-4">
          <i
            class="{{
              item.icon
            }} display-1 fw-normal text-primary mb-3 mb-sm-4"
          ></i>
          <div class="h2 fw-normal mb-0">{{ item.value }}</div>
        </div>
      </div>
    }
  </div>
</section>
