<section class="position-relative py-5" style="margin-top: -250px">
  <div style="height: 250px"></div>
  <div
    class="bg-secondary position-absolute top-0 start-0 w-100 h-100 d-dark-mode-none"
  ></div>
  <div
    class="container position-relative z-2 py-2 py-sm-3 py-md-4 py-lg-5 mb-sm-2 mb-md-3 mb-xxl-5 my-xl-4"
  >
    <h2
      class="h1 text-center pt-xxl-3 pb-3 mb-lg-4 mx-auto"
      style="max-width: 850px"
    >
      Integrate your favorite tools to complete your workflow
    </h2>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4 pb-xxl-3"
    >
      @for (item of toolsData; track $index) {
        <div class="col">
          <div class="card h-100 border-0 rounded-4">
            <div
              class="bg-secondary position-absolute top-0 start-0 w-100 h-100 rounded-4 d-none d-dark-mode-block"
            ></div>
            <div class="card-body position-relative z-2">
              <img
                class="d-block mb-4"
                src="{{ item.image }}"
                alt="{{ item.name }}"
              />
              <p class="mb-0">
                {{ item.description }}
              </p>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
