<main class="page-wrapper">
  <component-navigation-bar-2 />

  <section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
    <app-breadcrumb-1 [title]="'Home'" [pageTitle]="'Services v.2'" />

    <service-v2-our-service />
  </section>

  <section class="container py-4 pt-sm-5 pb-md-5 my-2 my-lg-3 my-xxl-4">
    <service-v2-feature />
  </section>

  <section class="container pt-xxl-2 pb-5 mb-lg-4 mb-xxl-5">
    <service-v2-testimonial />
  </section>

  <section class="position-relative mt-n5 mt-lg-0">
    <service-v2-cta />
  </section>
</main>

<service-v2-footer />
