<section class="overflow-hidden pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
  <div class="container pt-3 pt-sm-4 pt-lg-5 mt-md-3 mt-lg-0">
    <div class="row align-items-center">
      <div
        class="col-md-7 col-xxl-6 offset-xl-1 offset-xxl-2 order-md-2 pb-2 pb-sm-0 mb-4 mb-sm-5 mb-md-0"
      >
        <div
          class="parallax mx-auto"
          appParallax
          [parallaxScale]="5"
          style="max-width: 560px"
        >
          <div class="parallax-layer" data-depth="-0.05">
            <img
              src="assets/img/landing/mobile-app-showcase/people/01.png"
              alt="Layer"
            />
          </div>
          <div class="parallax-layer" data-depth="-0.05">
            <img
              src="assets/img/landing/mobile-app-showcase/people/02.png"
              alt="Layer"
            />
          </div>
          <div class="parallax-layer" data-depth="0.2">
            <img
              src="assets/img/landing/mobile-app-showcase/people/03.png"
              alt="Layer"
            />
          </div>
          <div class="parallax-layer" data-depth="-0.15">
            <img
              src="assets/img/landing/mobile-app-showcase/people/04.png"
              alt="Layer"
            />
          </div>
          <div class="parallax-layer" data-depth="0.25">
            <img
              src="assets/img/landing/mobile-app-showcase/people/05.png"
              alt="Layer"
            />
          </div>
          <div class="parallax-layer" data-depth="0.35">
            <img
              src="assets/img/landing/mobile-app-showcase/people/06.png"
              alt="Layer"
            />
          </div>
        </div>
      </div>
      <div class="col-md-5 col-xl-4 order-md-1">
        <h2 class="h1 text-center text-md-start mb-4">
          Online learning has already been chosen by 5 million people
        </h2>
        <ul class="d-table ps-4 pb-2 pb-sm-0 mx-auto mx-md-0 mb-4 mb-sm-5">
          <li class="mb-2">Amet minim mollit deserunt ullamco</li>
          <li class="mb-2">Velit officia consequat duis enim</li>
          <li>Exercitation veniam minim</li>
        </ul>
        <div
          class="d-flex justify-content-center justify-content-md-start gap-4"
        >
          <div>
            <img
              class="d-dark-mode-none"
              src="assets/img/landing/mobile-app-showcase/awards/01-dark.png"
              width="188"
              alt="Award"
            />
            <img
              class="d-none d-dark-mode-block"
              src="assets/img/landing/mobile-app-showcase/awards/01-light.png"
              width="188"
              alt="Award"
            />
          </div>
          <div>
            <img
              class="d-dark-mode-none"
              src="assets/img/landing/mobile-app-showcase/awards/02-dark.png"
              width="188"
              alt="Award"
            />
            <img
              class="d-none d-dark-mode-block"
              src="assets/img/landing/mobile-app-showcase/awards/02-light.png"
              width="188"
              alt="Award"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
