<section class="container pt-lg-4 pt-xl-5 mt-lg-2 mt-xxl-4">
  <div
    class="position-relative bg-size-cover bg-position-center rounded-3 py-5"
    style="background-image: url(assets/img/landing/insurance/cta-bg.jpg)"
  >
    <span
      class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"
    ></span>
    <div class="row position-relative z-2 py-md-4 py-lg-5 my-2">
      <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xxl-3 offset-1">
        <h2 class="h1 text-white pb-2 pb-sm-3">See how much you can save</h2>
        <a class="btn btn-primary" href="javascript:void(0);"
          >Get a quote now</a
        >
      </div>
    </div>
  </div>
</section>
