<main class="page-wrapper">
  <component-navigation-bar-2 />

  <section class="container py-5 mt-5 mb-lg-3 mb-xl-4 mb-xxl-5">
    <div class="text-center pb-3 pt-lg-2 pt-xl-4 my-1 my-sm-3 my-lg-4">
      <h1 class="display-2">Pricing plans</h1>
      <p class="fs-lg mb-0">
        Select a service plan that best suits your business needs
      </p>
    </div>

    <pricing-plans />

    <pricing-compare-table />
  </section>

  <pricing-testimonial />

  <pricing-tool />

  <pricing-faq />
</main>

<pricing-footer />
