<div class="row mt-5 pt-sm-2 pt-lg-3 pt-xl-4 pt-xxl-5">
  <div class="col-md-10 col-lg-8 col-xl-7">
    <h2 class="pb-sm-2">Social networks</h2>
    <p class="fs-lg mb-2 mb-sm-3 mb-lg-2">
      Velit non pharetra eget eu varius amet dui pharetra nam velit purus id nec
      aliquet auctor scelerisque egestas magna nulla. Eget posuere fames id nibh
      nisi sodales malesuada nisl purus. Libero, velit, in tincidunt non
      habitasse dui, risus eros, vel laoreet euismod sit vitae, at urna nullam
      lacus urna ac ut pulvinar arcu lacus porttitor aliquam.
    </p>
  </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 pt-4 pt-lg-5">
  <div class="col mb-4 mb-sm-0">
    <div
      class="d-flex align-items-center justify-content-center bg-secondary h-100 rounded-5 p-4 p-xl-5"
    >
      <img
        class="d-block rounded-4 my-2"
        src="assets/img/portfolio/single/v1/02.jpg"
        width="367"
        alt="Image"
      />
    </div>
  </div>
  <div class="col">
    <div
      class="d-flex align-items-end justify-content-center bg-secondary h-100 rounded-5 px-4 px-xl-5"
    >
      <img
        class="d-block rounded-4 rounded-bottom-0 mt-4"
        src="assets/img/portfolio/single/v1/03.jpg"
        width="524"
        alt="Image"
      />
    </div>
  </div>
</div>
