<section class="container mb-2 mb-md-3 mb-xl-4 pb-2" data-bs-theme="dark">
  <div class="position-relative bg-dark rounded-5 overflow-hidden p-md-5 p-4">
    <div
      class="position-absolute top-0 start-0 w-100 h-100"
      style="background-color: rgba(255, 255, 255, 0.03)"
    ></div>
    <div class="position-relative p-xl-5 p-md-4 py-4 px-sm-3">
      <h2 class="h1 pb-md-4 pb-3 mt-n2">
        Stay up to date with important news!
      </h2>
      <div class="row gy-md-5 gy-4 gx-xl-5">
        <div class="col-lg-7">
          <div
            class="row row-cols-sm-3 row-cols-2 gy-lg-4 gy-3 gx-xl-4 gx-sm-3 gx-2"
          >
            <div class="col">
              <div class="form-check mb-0">
                <label
                  class="form-check-label fs-base fw-medium"
                  for="advert-updates"
                  >Advertising Updates</label
                >
                <input
                  class="form-check-input"
                  id="advert-updates"
                  type="checkbox"
                  checked
                />
              </div>
            </div>
            <div class="col">
              <div class="form-check mb-0">
                <label
                  class="form-check-label fs-base fw-medium"
                  for="newsletter"
                  >Daily Newsletter</label
                >
                <input
                  class="form-check-input"
                  id="newsletter"
                  type="checkbox"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-check mb-0">
                <label
                  class="form-check-label fs-base fw-medium"
                  for="week-in-review"
                  >Week in Review</label
                >
                <input
                  class="form-check-input"
                  id="week-in-review"
                  type="checkbox"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-check mb-0">
                <label
                  class="form-check-label fs-base fw-medium"
                  for="inspiration"
                  >Inspiration</label
                >
                <input
                  class="form-check-input"
                  id="inspiration"
                  type="checkbox"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-check mb-0">
                <label
                  class="form-check-label fs-base fw-medium"
                  for="psychology"
                  >Psychology</label
                >
                <input
                  class="form-check-input"
                  id="psychology"
                  type="checkbox"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-check mb-0">
                <label class="form-check-label fs-base fw-medium" for="design"
                  >Design</label
                >
                <input
                  class="form-check-input"
                  id="design"
                  type="checkbox"
                  checked
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="input-group rounded-pill">
            <input class="form-control" type="text" placeholder="Your email" />
            <button class="btn btn-primary rounded-pill" type="button">
              Button
            </button>
          </div>
          <div class="form-text mt-3 fs-sm">
            * Yes, I agree to the <a href="javascript:void(0);">terms</a> and
            <a href="javascript:void(0);">privacy policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
