<section class="container position-relative z-3" style="margin-top: -135px">
  <div class="rounded-5 overflow-hidden">
    <div
      ngJarallax
      [config]="jarallaxConfig"
      class="jarallax ratio ratio-16x9"
      data-jarallax
      data-speed="0.6"
      style="background-image: url(assets/img/about/agency/parallax-image.jpg)"
    ></div>
  </div>
  <div class="row pt-5 mt-n2 mt-sm-0 mt-md-2 mt-lg-4 mt-xl-5">
    <div class="col-md-6 col-lg-5">
      <div class="fs-sm text-uppercase mb-3">What we do</div>
      <h2 class="display-6">Bringing Talent and Opportunity Together</h2>
    </div>
    <div class="col-md-6 col-xl-5 offset-lg-1 offset-xl-2 pt-1 pt-sm-2 pt-md-5">
      <p class="fs-xl " style="text-align: justify;">
        <strong>Link Asia Manpower Solutions Corp. (LAMS)</strong>  
        is a DMW-licensed land-based recruitment agency connecting global employers with exceptional 
        Filipino professionals. With successful placements across healthcare, engineering, and skilled trades, we are proud to be part of the Filipino dream.
        <br> <br> We are on a mission to empower Filipino talent by connecting them with global opportunities, while building lasting partnerships with international employers through integrity, excellence, and an unwavering commitment to success.

      </p>
    </div>
  </div>
</section>
