<section class="container position-relative z-3" style="margin-top: -135px">
  <div class="rounded-5 overflow-hidden">
    <div
      ngJarallax
      [config]="jarallaxConfig"
      class="jarallax ratio ratio-16x9"
      data-jarallax
      data-speed="0.6"
      style="background-image: url(assets/img/about/agency/parallax-image.jpg)"
    ></div>
  </div>
  <div class="row pt-5 mt-n2 mt-sm-0 mt-md-2 mt-lg-4 mt-xl-5">
    <div class="col-md-6 col-lg-5">
      <div class="fs-sm text-uppercase mb-3">What we do</div>
      <h2 class="display-6">We are a team who create marketing strategies</h2>
    </div>
    <div class="col-md-6 col-xl-5 offset-lg-1 offset-xl-2 pt-1 pt-sm-2 pt-md-5">
      <p class="fs-xl">
        Morbi et massa fames ac scelerisque sit commodo dignissim
        <strong>faucibus quisque proin</strong> lectus laoreet sem adipiscing
        sollicitudin erat massa tellus lorem enim aenean phasellus in hendrerit
        interdum lorem proin pretium dictum urna suspendisse quis risus et.
      </p>
      <p class="fs-xl">
        Sit congue tellus urna phasellus sagittis interdum sed laoreet eget
        curabitur.
        <strong>Vel magna sit aliquet viverra morbi massa mattis urna,</strong>
        feugiat egestas tincidunt ipsum diam quam massa amet odio nisi duis
        dolor.
      </p>
      <p class="fs-xl mb-0">
        Ac facilisis eros sem faucibus aliquet venenatis amet fermentum nisi.
        Mauris consectetur sem malesuada. viverra a non sapien odio id risus
        volutpat at.
      </p>
    </div>
  </div>
</section>
