<section class="container pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
  <div
    class="row text-center text-md-start pb-3 pt-1 pt-sm-3 pt-md-4 pt-xl-5 mt-lg-2 mt-xl-0 mb-3 mb-lg-4"
  >
    <div class="col-md-6">
      <h2 class="h1 mb-md-0">Our working atmosphere</h2>
    </div>
    <div class="col-md-6 pt-2">
      <p class="mb-0">
        Morbi et massa fames ac scelerisque sit commodo dignissim aucibus vel
        quisque proin lectus laoreet sem adipiscing sollicitudin erat massa
        tellus lorem aenean.
      </p>
    </div>
  </div>
  <div class="rounded-5 overflow-hidden">
    <div
      ngJarallax
      [config]="jarallaxConfig"
      style="
        background-image: url(assets/img/landing/coworking-space/parallax-image.jpg);
      "
      class="jarallax ratio ratio-16x9 d-flex align-items-center justify-content-center"
      data-jarallax
      data-speed="0.6"
    >
      <div class="w-auto position-relative p-4">
        <a
          class="btn btn-icon btn-xl btn-primary rounded-circle stretched-link"
          (click)="open(0)"
          data-bs-toggle="video"
          aria-label="Play video"
        >
          <i class="ai-play-filled"></i>
        </a>
      </div>
    </div>
  </div>
</section>
