<footer class="footer py-5">
  <div
    class="container d-flex flex-column flex-lg-row justify-content-between align-items-center pt-1 py-sm-2 py-lg-4 py-xl-5"
  >
    <div class="d-flex gap-3 mb-3 mb-sm-4 mb-lg-0">
      <a
        class="btn btn-outline-secondary btn-icon btn-sm btn-instagram"
        href="javascript:void(0);"
        aria-label="Instagram"
      >
        <i class="ai-instagram"></i>
      </a>
      <a
        class="btn btn-outline-secondary btn-icon btn-sm btn-facebook"
        href="javascript:void(0);"
        aria-label="Facebook"
      >
        <i class="ai-facebook"></i>
      </a>
      <a
        class="btn btn-outline-secondary btn-icon btn-sm btn-youtube"
        href="javascript:void(0);"
        aria-label="YouTube"
      >
        <i class="ai-youtube"></i>
      </a>
    </div>
    <div class="nav flex-sm-nowrap justify-content-center mb-3 mb-sm-4 mb-lg-0">
      <a
        class="nav-link fw-normal border-end-lg px-2 px-sm-3 px-lg-4 py-1 py-sm-0 mx-1 mx-sm-0 mx-xl-2"
        href="javascript:void(0);"
        >Support</a
      >
      <a
        class="nav-link fw-normal border-end-lg px-2 px-sm-3 px-lg-4 py-1 py-sm-0 mx-1 mx-sm-0 mx-xl-2"
        href="javascript:void(0);"
        >Privacy Policy</a
      >
      <a
        class="nav-link fw-normal px-2 px-sm-3 px-lg-4 py-1 py-sm-0 mx-1 mx-sm-0 mx-xl-2"
        href="javascript:void(0);"
        >Terms &amp; Conditions</a
      >
    </div>
    <p class="text-body-secondary mb-0">&copy; All rights reserved</p>
  </div>
</footer>
