<section
  class="container py-sm-2 py-md-3 py-lg-4 py-xl-5 mb-2 mb-sm-3 mb-md-4 mb-xxl-5"
>
  <div class="row align-items-center py-5">
    <div
      class="col-md-6 col-lg-7 col-xxl-8 order-md-2 pb-4 pb-md-0 mb-2 mb-sm-3 mb-md-0"
    >
      <div class="position-relative ms-auto" style="max-width: 823px">
        <img
          class="d-block"
          src="assets/img/landing/product/cta/01.png"
          alt="Image"
          data-aos="fade-up"
          data-aos-duration="200"
          data-aos-offset="300"
          data-aos-delay="350"
        />
        <img
          class="d-block position-absolute top-0 start-0"
          src="assets/img/landing/product/cta/02.png"
          alt="Image"
          data-aos="fade-up"
          data-aos-duration="200"
          data-aos-offset="300"
          data-aos-delay="550"
        />
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xxl-4 order-md-1">
      <h2 class="h1 pb-md-2 pb-xl-3">
        Headphones that fit your ears perfectly
      </h2>
      <p class="mb-4">
        Adipiscing posuere dui, amet, augue nisl dictum justo enim sed neque
        congue non quam ultrices interdum vitae vestibulum turpis nullam netus
        sed aliquam.
      </p>
      <div class="d-flex pb-2 pb-lg-0 mb-4 mb-lg-5">
        <div class="me-5">
          <h3 class="mb-1">60-200 Hz</h3>
          <p class="fs-sm mb-0">frequency range</p>
        </div>
        <div>
          <h3 class="mb-1">0.75 kg</h3>
          <p class="fs-sm mb-0">weight, kg</p>
        </div>
      </div>
      <a class="btn btn-dark" href="javascript:void(0);"
        >Support us on Kickstarter</a
      >
    </div>
  </div>
</section>
