<div
  class="bg-secondary position-absolute bottom-0 start-0 w-100"
  style="height: calc(100% - 3rem)"
></div>
<div class="container position-relative z-2">
  <div class="row">
    <div class="col-lg-6 py-5 mb-sm-2 mb-md-3 mb-lg-5 mt-3 mt-sm-4 mt-md-5">
      <h2 class="h1 text-center text-lg-start pt-3 mt-3 mb-4">
        Become part <br class="d-none d-lg-inline" />of our team
      </h2>
      <div
        class="d-flex justify-content-between mx-auto mx-lg-0"
        style="max-width: 370px"
      >
        <ul class="ps-4 me-3">
          <li class="mt-2">Financial analyst</li>
          <li class="mt-2">Business analyst</li>
          <li class="mt-2">Software tester</li>
        </ul>
        <ul class="ps-4">
          <li class="mt-2">Head of marketing</li>
          <li class="mt-2">Strategy advisor</li>
          <li class="mt-2">Lead UX designer</li>
        </ul>
      </div>
      <div class="text-center text-lg-start pt-4">
        <a class="btn btn-outline-dark" href="javascript:void(0);"
          >Apply for a job</a
        >
      </div>
    </div>
    <div class="col-lg-6">
      <div
        class="bg-primary d-flex flex-column align-items-center justify-content-center position-relative h-100 rounded-5 rounded-bottom-0 p-5"
      >
        <div
          class="position-relative z-2 py-sm-3 py-md-4"
          style="max-width: 360px"
          data-bs-theme="dark"
        >
          <h2 class="h1">Ready to discuss your project?</h2>
          <p class="text-body mb-0">
            We are a team that creates business strategies for B2B and B2C
            companies.
          </p>
          <div
            class="d-flex flex-column flex-sm-row align-items-center pt-3 mt-3 mt-lg-4"
          >
            <a
              class="btn btn-light w-100 w-sm-auto me-sm-4 mb-2 mb-sm-0"
              routerLink="/contacts/v1"
              >Contact us</a
            >
            <a
              class="d-inline-block text-white fw-medium p-2"
              href="mailto:email@example.com"
              >email&#64;example.com</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
