<aside>
  <div class="offcanvas-start" id="shopSidebar">
    <div class="offcanvas-header d-lg-none">
      <h5 class="offcanvas-title">Filters</h5>
      <button
        class="btn-close"
        type="button"
        data-bs-dismiss="offcanvas"
        data-bs-target="#shopSidebar"
        aria-label="Close"
        (click)="activeOffcanvas.close('Close click')"
      ></button>
    </div>

    <div class="offcanvas-body pt-2 pt-lg-0 pe-lg-4">
      <h3 class="h5">Categories</h3>
      <div
        ngbAccordion
        #accordion="ngbAccordion"
        [closeOthers]="true"
        class="accordion accordion-alt pb-2 mb-4"
        id="shopCategories"
      >
        @for (list of allLivingcategoryData; track $index) {
          <div ngbAccordionItem [collapsed]="false" class="accordion-item mb-0">
            <h4 ngbAccordionHeader class="accordion-header">
              <button
                ngbAccordionButton
                class="accordion-button fs-xl fw-medium py-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#livingRoom"
                aria-expanded="true"
                aria-controls="livingRoom"
              >
                <span class="fs-base">{{ list.label }}</span>
              </button>
            </h4>
            <div
              ngbAccordionCollapse
              class="accordion-collapse collapse show"
              id="livingRoom"
              data-bs-parent="#shopCategories"
            >
              <div ngbAccordionBody class="accordion-body py-1 mb-1">
                <ng-template>
                  @for (item of list.items; track $index) {
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="{{ $index }}"
                        [checked]="item.checked"
                      />
                      <label
                        class="form-check-label d-flex align-items-center"
                        for="{{ $index }}"
                      >
                        <span class="text-nav fw-medium">{{ item.title }}</span>
                        <span class="fs-xs text-body-secondary ms-auto">{{
                          item.number
                        }}</span>
                      </label>
                    </div>
                  }
                </ng-template>
              </div>
            </div>
          </div>
        }
      </div>

      <h3 class="h5">Price</h3>

      <div
        class="range-slider pb-3 mb-4"
        data-start-min="10"
        data-start-max="50"
        data-min="0"
        data-max="80"
        data-step="1"
        data-tooltip-prefix="$"
      >
        <ngx-slider
          [(value)]="value"
          [options]="options"
          [(highValue)]="highValue"
          class="range-slider-ui"
        ></ngx-slider>
        <div class="d-flex mt-3">
          <div class="d-flex align-items-center w-50">
            <label class="form-label fs-xs me-2 mb-0" for="price-min"
              >From</label
            >
            <input
              class="form-control form-control-sm range-slider-value-min"
              [(ngModel)]="value"
              type="number"
              style="max-width: 6rem"
              id="price-min"
            />
          </div>
          <div class="d-flex align-items-center justify-content-end w-50">
            <label class="form-label fs-xs me-2 mb-0" for="price-max">To</label>
            <input
              class="form-control form-control-sm range-slider-value-max"
              type="number"
              [value]="highValue"
              style="max-width: 6rem"
              id="price-max"
            />
          </div>
        </div>
      </div>

      <h3 class="h5">Color</h3>
      <div class="d-flex pb-2 mb-4">
        @for (item of colorsData; track $index) {
          <div class="me-2 mb-2">
            <input
              class="btn-check"
              type="checkbox"
              value="{{ item.name }}"
              [checked]="$index == 0"
              id="color{{ $index }}"
            />
            <label
              class="btn btn-icon btn-sm btn-outline-secondary rounded-circle"
              for="color{{ $index }}"
            >
              @if (item.backgroundImage) {
                <span
                  class="d-block bg-size-covser bg-position-center rounded-circle"
                  [style.background-color]="item.backgroundColor"
                  [style.background-image]="'url(' + item.backgroundImage + ')'"
                  [style]="'width: 1.5rem; height: 1.5rem;'"
                ></span>
              } @else {
                <span
                  class="d-block rounded-circle"
                  style="width: 1.5rem; height: 1.5rem"
                  [style.background-color]="item.backgroundColor"
                ></span>
              }
            </label>
          </div>
        }
      </div>

      <h3 class="h5">Brand</h3>
      <div class="pb-2">
        @for (item of allBrandData; track $index) {
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Pazolinni"
              id="brand{{ $index }}"
              [checked]="item.checked"
            />
            <label
              class="form-check-label d-flex align-items-center"
              for="brand{{ $index }}"
            >
              <span class="text-nav fw-medium">{{ item.name }}</span>
              <span class="fs-xs text-body-secondary ms-auto">{{
                item.count
              }}</span>
            </label>
          </div>
        }
      </div>
    </div>
  </div>
</aside>
