<div class="border-bottom py-4 py-lg-5">
  <div class="row">
    <div class="col-lg-11 col-xl-10">
      <p class="text-dark lead mb-2 mb-lg-3-0 mb-xl-4 mb-xxl-3">
        Morbi et massa fames ac scelerisque sit commodo dignissim faucibus
        quisque proin lectus laoreet sem adipiscing sollicitudin erat massa
        tellus lorem enim aenean phasellus in hendrerit interdum lorem proin
        pretium dictum urna suspendisse quis risus et.
      </p>
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 g-sm-4 pt-4 pt-xxl-5 mb-2 mb-sm-3 pb-xxl-4"
      >
        <div class="col">
          <h2 class="fs-base fw-normal text-body-secondary mb-2 mb-sm-3">
            Company
          </h2>
          <ul class="list-unstyled fs-lg fw-semibold text-dark mb-0">
            <li class="d-block py-1">{{ company.name }}</li>
            <li class="d-block py-1">{{ company.employees }}</li>
            <li class="d-block py-1">{{ company.location }}</li>
          </ul>
        </div>
        <div class="col">
          <h2 class="fs-base fw-normal text-body-secondary mb-2 mb-sm-3">
            Indusrty
          </h2>
          <ul class="list-unstyled fs-lg fw-semibold text-dark mb-0">
            <li class="d-block py-1">{{ industry }}</li>
          </ul>
        </div>
        <div class="col">
          <h2 class="fs-base fw-normal text-body-secondary mb-2 mb-sm-3">
            Services
          </h2>
          <ul class="list-unstyled fs-lg fw-semibold text-dark mb-0">
            @for (service of services; track $index) {
              <li class="d-block py-1">{{ service }}</li>
            }
          </ul>
        </div>
        <div class="col">
          <h2 class="fs-base fw-normal text-body-secondary mb-2 mb-sm-3">
            Time spent
          </h2>
          <ul class="list-unstyled fs-lg fw-semibold text-dark mb-0">
            <li class="d-block py-1">{{ timeSpent }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
