<h1 class="display-2 text-primary">Whipping up our website</h1>
<p class="fs-xl mx-auto mb-5" style="max-width: 680px">
  We can't wait to unveil what we've been working on, and we appreciate your
  patience. Thanks for being a part of our journey!
</p>

<div
  class="countdown d-flex flex-wrap justify-content-center mb-5"
  data-countdown-date="01/01/2026 12:00:00"
>
  <div class="text-center mb-2">
    <div class="position-relative p-2">
      <span
        class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-1 d-dark-mode-none"
      ></span>
      <span
        class="position-absolute top-0 start-0 w-100 h-100 bg-secondary rounded-1 d-none d-dark-mode-block"
      ></span>
      <div class="h3 fw-medium position-relative z-1 mb-0 mx-1" data-days>
        {{ countdown.days }}
      </div>
    </div>
    <span class="fs-sm">days</span>
  </div>
  <span class="blinking text-body-secondary fs-2 mx-2">:</span>
  <div class="text-center mb-2">
    <div class="position-relative p-2">
      <span
        class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-1 d-dark-mode-none"
      ></span>
      <span
        class="position-absolute top-0 start-0 w-100 h-100 bg-secondary rounded-1 d-none d-dark-mode-block"
      ></span>
      <div class="h3 fw-medium position-relative z-1 mb-0 mx-1" data-hours>
        {{ countdown.hours }}
      </div>
    </div>
    <span class="fs-sm">hours</span>
  </div>
  <span class="blinking text-body-secondary fs-2 mx-2">:</span>
  <div class="text-center mb-2">
    <div class="position-relative p-2">
      <span
        class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-1 d-dark-mode-none"
      ></span>
      <span
        class="position-absolute top-0 start-0 w-100 h-100 bg-secondary rounded-1 d-none d-dark-mode-block"
      ></span>
      <div class="h3 fw-medium position-relative z-1 mb-0 mx-1" data-minutes>
        {{ countdown.minutes }}
      </div>
    </div>
    <span class="fs-sm">mins</span>
  </div>
  <span class="blinking text-body-secondary fs-2 mx-2">:</span>
  <div class="text-center mb-2">
    <div class="position-relative p-2">
      <span
        class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-1 d-dark-mode-none"
      ></span>
      <span
        class="position-absolute top-0 start-0 w-100 h-100 bg-secondary rounded-1 d-none d-dark-mode-block"
      ></span>
      <div class="h3 fw-medium position-relative z-1 mb-0 mx-1" data-seconds>
        {{ countdown.seconds }}
      </div>
    </div>
    <span class="fs-sm">secs</span>
  </div>
</div>

<form class="input-group mx-auto" style="max-width: 480px">
  <input
    type="email"
    class="form-control"
    placeholder="Enter your email"
    required
  />
  <button type="submit" class="btn btn-primary">Notify me</button>
</form>
