<section class="container border-top py-5 mb-1 mb-sm-2 mb-md-4 mb-lg-5">
  <div class="swiper">
    <swiper-container
      [config]="swiperConfig"
      init="false"
      class="swiper-wrapper"
    >
      @for (item of shopFeatures; track $index) {
        <swiper-slide class="swiper-slide text-center text-sm-start">
          <div class="text-primary mb-3 mb-sm-4">
            <div [innerHTML]="item.sanitizedIcon"></div>
          </div>
          <h3 class="h5 mb-2 mb-sm-3">{{ item.title }}</h3>
          <p class="fs-sm mb-0">{{ item.description }}</p>
        </swiper-slide>
      }
    </swiper-container>

    <div
      class="swiper-pagination position-relative bottom-0 pt-1 mt-4 d-lg-none"
    ></div>
  </div>
</section>
