<section
  class="overflow-hidden pt-2 pt-sm-3 pt-md-4 pt-lg-3 pb-1 pb-sm-3 pb-md-4 pb-lg-5"
>
  <div class="container position-relative py-5 my-lg-3 my-xl-4 my-xxl-5">
    <div
      class="position-absolute"
      style="margin-left: -12.7%"
      data-aos="zoom-in"
      data-aos-duration="500"
      data-aos-offset="300"
      data-disable-parallax-down="lg"
    >
      <svg
        class="text-warning d-none d-lg-block"
        width="744"
        height="744"
        viewBox="0 0 744 744"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="372" cy="372" r="372"></circle>
      </svg>
    </div>
    <div class="d-none d-xxl-block" style="height: 190px"></div>
    <div class="d-none d-lg-block d-xxl-none" style="height: 150px"></div>
    <div
      class="row justify-content-center justify-content-lg-start position-relative z-2"
    >
      <div
        class="col-sm-10 col-md-8 col-lg-5 col-xl-4 text-center text-lg-start"
        data-aos="fade-up"
        data-aos-duration="850"
        data-aos-offset="120"
        data-disable-parallax-down="lg"
      >
        <div class="d-none d-lg-block" data-bs-theme="light">
          <h2 class="display-5 mb-4">
            Inner pages for everything you may need
          </h2>
          <p class="fs-lg text-dark pb-3 pb-sm-4 mb-lg-0" data-bs-theme="light">
            Big collection of thoroughly designed inner page templates from User
            Account/Dashboard to Specialty pages like 404 and Coming Soon.
          </p>
        </div>
        <div class="d-lg-none">
          <h2 class="display-5 mb-4">
            Inner pages for everything you may need
          </h2>
          <p class="fs-lg pb-3 pb-sm-4 mb-lg-0">
            Big collection of thoroughly designed inner page templates from User
            Account/Dashboard to Specialty pages like 404 and Coming Soon.
          </p>
        </div>
      </div>
    </div>
    <div class="d-none d-xl-block" style="margin-top: -240px"></div>
    <div class="d-none d-lg-block d-xl-none" style="margin-top: -160px"></div>
    <div class="d-flex position-relative z-2 mb-3">
      <div
        class="flex-xxl-shrink-0 position-relative z-2"
        style="max-width: 540px; margin-top: 26%; margin-right: -9.6%"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="400"
        data-disable-parallax-down="lg"
      >
        <img
          class="rounded-3 mt-n5 mt-lg-0 d-block d-dark-mode-none"
          src="assets/img/landing/intro/pages/01-light.jpg"
          alt="Page"
          style="box-shadow: 1.875rem 0.625rem 5rem rgba(65, 81, 98, 0.2)"
        /><img
          class="border rounded-3 mt-n5 mt-lg-0 d-none d-dark-mode-block"
          src="assets/img/landing/intro/pages/01-dark.jpg"
          alt="Page"
          style="box-shadow: 1.875rem 0.625rem 5rem rgba(0, 0, 0, 0.2)"
        />
      </div>
      <div
        class="flex-xxl-shrink-0 position-relative z-1"
        style="max-width: 481px; margin-top: 17.6%; margin-right: -8.5%"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="200"
        data-disable-parallax-down="lg"
      >
        <img
          class="rounded-3 mt-n5 mt-lg-0 d-block d-dark-mode-none"
          src="assets/img/landing/intro/pages/02-light.jpg"
          alt="Page"
          style="box-shadow: 1.875rem 0.625rem 5rem rgba(65, 81, 98, 0.2)"
        /><img
          class="border rounded-3 mt-n5 mt-lg-0 d-none d-dark-mode-block"
          src="assets/img/landing/intro/pages/02-dark.jpg"
          alt="Page"
          style="box-shadow: 1.875rem 0.625rem 5rem rgba(0, 0, 0, 0.2)"
        />
      </div>
      <div
        class="flex-xxl-shrink-0"
        style="max-width: 510px"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-offset="250"
        data-disable-parallax-down="lg"
      >
        <img
          class="rounded-3 d-block d-dark-mode-none"
          src="assets/img/landing/intro/pages/03-light.jpg"
          alt="Page"
          style="box-shadow: 1.875rem 0.625rem 5rem rgba(65, 81, 98, 0.2)"
        /><img
          class="border rounded-3 d-none d-dark-mode-block"
          src="assets/img/landing/intro/pages/03-dark.jpg"
          alt="Page"
          style="box-shadow: 1.875rem 0.625rem 5rem rgba(0, 0, 0, 0.2)"
        />
      </div>
    </div>
  </div>
</section>
