<main class="page-wrapper">
  <component-navigation-bar-2 />

  <section class="container py-5 mt-5 mb-2 mb-sm-3 mb-lg-4 mb-xxl-5">
    <app-breadcrumb-2
      [breadcrumbLink]="'/portfolio/list-1'"
      className="pt-lg-2 pb-lg-3 pb-2"
      [title]="'Home'"
      [subTitle]="'Portfolio'"
      [pageTitle]="'Single project v.1'"
    />

    <single1-title />

    <img
      class="d-block rounded-5 mb-3 mb-xl-4 mb-xxl-5"
      src="assets/img/portfolio/single/v1/01.jpg"
      alt="Image"
    />

    <single1-overview />

    <single1-description />

    <single1-networks />

    <single1-marketing />

    <single1-results />

    <single1-testimonials />

    <single1-projects />
  </section>
</main>

<single1-footer />
