<section>
  <div
    class="jarallax bg-dark min-vh-100 py-5"
    ngJarallax
    style="background-image: url(assets/img/landing/shop-1/hero/bg.jpg)"
    [config]="jarallaxConfig"
    data-jarallax
    data-type="scroll-opacity"
    data-speed="0.7"
  >
    <div
      class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-40"
    ></div>
    <div class="container position-relative z-5 py-sm-4 py-lg-5 mt-4">
      <div class="row pt-lg-2 py-xl-4 py-xxl-5 mb-md-4 mb-lg-5">
        <div class="col-md-10 col-lg-9 col-xl-8 col-xxl-7 pt-5 mb-5">
          <h1 class="display-2 text-light text-uppercase pb-sm-2 pb-md-3">
            Decor to create comfort at home
          </h1>
          <p
            class="text-light opacity-70 pb-3 pb-md-4 mb-3"
            style="max-width: 520px"
          >
            On the site you will find all the wonderful decor items from photo
            frames to tablecloths for the dining table
          </p>
          <a class="btn btn-outline-light" routerLink="/shop/catalog"
            >Explore the catalog</a
          >
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between mb-3">
        <div class="fw-medium text-light text-uppercase">Most Popular</div>

        <div class="d-flex">
          <button
            class="btn btn-prev btn-icon btn-sm btn-outline-light rounded-circle ms-3"
            type="button"
            id="popular-prev"
            aria-label="Prev"
          >
            <i class="ai-arrow-left"></i>
          </button>
          <button
            class="btn btn-next btn-icon btn-sm btn-outline-light rounded-circle ms-3"
            type="button"
            id="popular-next"
            aria-label="Next"
          >
            <i class="ai-arrow-right"></i>
          </button>
        </div>
      </div>

      <div class="swiper">
        <swiper-container
          [config]="swiperConfig"
          init="false"
          class="swiper-wrapper"
        >
          @for (item of productSwiper; track $index) {
            <swiper-slide class="swiper-slide h-auto">
              <a
                class="card h-100 border-0 rounded-1 text-decoration-none px-xxl-1"
                routerLink="/shop/product"
              >
                <div class="card-body p-4 px-sm-3 px-md-4">
                  <div class="d-flex align-items-center">
                    <img src="{{ item.image_src }}" width="97" alt="Product" />
                    <div class="ps-3 ps-md-4">
                      <h3 class="fs-sm mb-2">{{ item.name }}</h3>
                      <p class="fs-sm mb-0">
                        {{ selectedCurrency }}{{ item.price }}.00
                        @if (item.discounted_price) {
                          <del class="text-body-secondary fs-xs"
                            >{{ selectedCurrency
                            }}{{ item.discounted_price }}.00
                          </del>
                        }
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </swiper-slide>
          }
        </swiper-container>
      </div>
    </div>
  </div>
</section>
