<section
  class="bg-primary bg-opacity-10 d-flex min-vh-80 overflow-hidden py-5" 
  style="
    background: linear-gradient( rgba(254, 97, 0, 0.5)), 
                url('assets/img/landing/marketing-agency/hero/cityv2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>

  <div class="container d-flex justify-content-center pb-sm-3 py-md-4 py-xl-5">
    <div class="row align-items-center pt-5 mt-4 mt-xxl-0">
      <div class="col-lg-6 mb-4 mb-lg-0 pb-3 pb-lg-0">

        <div class="parallax mx-auto mx-lg-0" style="max-width: 582px">
          <img src="assets/img/landing/marketing-agency/hero/Logo_Link Asia_V2.png" 
          alt=""
          >
        </div>
        
        
      </div>
      <div class="col-lg-6 text-center text-lg-start">
        <h1 class="display-2 pb-3 mb-4 text-white">
          <span class="fw-normal ">Empowering Talent</span> <br>Building Dreams
        </h1>
        <div class="">
        <p class="text-white px-3 py-2 fw-bold">Your success is our commitment. Link Asia Manpower Solutions connects skilled Filipino talent with life-changing global opportunities.</p>
        </div>
       

        <div
          class="d-sm-flex justify-content-center justify-content-lg-start pt-5 mt-lg-2"
        >
        <!--
          <a
            class="btn btn-lg btn-primary w-100 w-sm-auto mb-2 mb-sm-0 me-sm-1"
            href="javascript:void(0);"
            >Explore Jobs</a
          >
          -->
          
        </div>
      </div>
    </div>
  </div>
</section>
