<section class="container pb-2 pb-sm-3 pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
  <h2
    class="h1 text-center pt-2 pt-sm-4 pt-lg-5 pb-2 mb-3 mb-lg-4 mt-md-3 mt-lg-0"
  >
    We employ the best trainers
  </h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    @for (item of trainersData; track $index) {
      <div class="col text-center pt-2">
        <a
          class="card-hover card-lifted d-inline-block text-decoration-none"
          href="javascript:void(0);"
        >
          <img
            class="card-lifted d-block rounded-5 mb-3"
            src="{{ item.image }}"
            width="340"
            alt="Alisa Black"
          />
          <h3 class="h5 mb-1">{{ item.name }}</h3>
          <p class="mb-0 text-body-secondary">{{ item.specialization }}</p>
        </a>
      </div>
    }
  </div>
</section>
