<section class="overflow-hidden">
  <div class="container pt-2 pt-sm-4 pb-sm-2 pb-md-4 py-xl-5 mt-5">
    <div class="row align-items-center py-5 mt-md-2 my-lg-3 my-xl-4 my-xxl-5">
      <div
        class="col-lg-7 order-lg-2 d-flex justify-content-center justify-content-lg-end mb-4 mb-md-5 mb-lg-0 pb-3 pb-md-0"
      >
        <div
          class="parallax me-lg-n4 me-xl-n5"
          appParallax
          [parallaxScale]="10"
          style="max-width: 667px"
        >
          <div class="parallax-layer" data-depth="0.1">
            <img
              src="assets/img/landing/business-consulting/hero/01.png"
              alt="Layer"
            />
          </div>
          <div class="parallax-layer" data-depth="-0.2">
            <img
              src="assets/img/landing/business-consulting/hero/02.png"
              alt="Layer"
            />
          </div>
          <div class="parallax-layer" data-depth="0.25">
            <img
              src="assets/img/landing/business-consulting/hero/03.png"
              alt="Layer"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-5 order-lg-1">
        <h1 class="display-3 text-center text-lg-start pb-sm-2 pb-md-3">
          The effective solutions for your business
        </h1>
        <p
          class="fs-lg text-center text-lg-start pb-xl-2 mx-auto mx-lg-0 mb-5"
          style="max-width: 420px"
        >
          We are a team who creates marketing strategies for B2B and B2C
          companies.
        </p>
        <div class="input-group mx-auto mx-lg-0" style="max-width: 420px">
          <span class="input-group-text text-body-secondary">
            <i class="ai-mail"></i>
          </span>
          <input
            class="form-control"
            type="email"
            placeholder="Enter your email"
          />
          <button class="btn btn-primary" type="button">Book a call</button>
        </div>
      </div>
    </div>
  </div>
</section>
