<section
  class="container pt-sm-2 pt-md-3 pt-lg-4 pt-xl-5 mt-xxl-4 pb-lg-2 pb-xl-4 pb-xxl-5"
>
  <h2 class="h1 text-center pb-3 pb-lg-4">Our services</h2>
  <div class="swiper">
    <swiper-container
      [config]="swiperConfig"
      init="false"
      class="swiper-wrapper"
    >
      @for (item of allwebServicesdata; track $index) {
        <swiper-slide class="swiper-slide h-auto">
          <a
            class="card bg-secondary border-0 h-100 text-center text-decoration-none"
            href="javascript:void(0);"
          >
            <div class="card-body">
              <div [innerHTML]="item.sanitizedIcon"></div>
              <h3>{{ item.title }}</h3>
              <p class="card-text">
                {{ item.description }}
              </p>
            </div>
            <div class="card-footer border-0 px-0 pt-0 pb-4 mb-3">
              <div
                class="btn btn-icon btn-outline-primary rounded-circle stretched-link"
              >
                <i class="ai-arrow-right"></i>
              </div>
            </div>
          </a>
        </swiper-slide>
      }
    </swiper-container>

    <div
      class="swiper-pagination position-relative bottom-0 mt-2 pt-4 d-lg-none"
    ></div>
  </div>
</section>
