<section class="bg-primary bg-opacity-10 py-5">
  <div class="container py-sm-2 pt-md-3 py-lg-2 py-xl-4 py-xxl-5">
    <h3 class="h1 text-center pt-2 pt-sm-3 pb-3 mb-3 mb-lg-4">
      Resources for you
    </h3>

    <div class="swiper">
      <swiper-container
        [config]="swiperConfig"
        init="false"
        class="swiper-wrapper"
      >
        @for (item of resourseData; track $index) {
          <swiper-slide class="swiper-slide h-auto">
            <div class="card border-0 h-100">
              <div class="card-body pb-4">
                <div class="d-flex align-items-center mb-4 mt-n1">
                  <span class="fs-sm text-body-secondary">{{ item.date }}</span>
                  <span class="fs-xs opacity-20 mx-3">|</span>
                  <a
                    class="badge text-nav fs-xs border"
                    href="javascript:void(0);"
                    >{{ item.category }}</a
                  >
                </div>
                <h3 class="h4 card-title">
                  <a href="javascript:void(0);">{{ item.title }}</a>
                </h3>
                <p class="card-text">
                  {{ item.excerpt }}
                </p>
              </div>
              <div class="card-footer pt-3">
                <a
                  class="d-flex align-items-center text-decoration-none pb-2"
                  href="javascript:void(0);"
                >
                  <img
                    class="rounded-circle"
                    src="{{ item.author.avatar }}"
                    width="48"
                    alt="Post author"
                  />
                  <h6 class="ps-3 mb-0">{{ item.author.name }}</h6>
                </a>
              </div>
            </div>
          </swiper-slide>
        }
      </swiper-container>

      <div
        id="resoursepagination"
        class="swiper-pagination position-relative bottom-0 mt-2 pt-4 d-lg-none"
      ></div>
    </div>

    <div class="text-center pt-4 pb-1 pb-sm-2 pb-md-4 py-lg-5 my-2 mt-lg-0">
      <a class="btn btn-outline-primary" href="javascript:void(0);"
        >Read all articles</a
      >
    </div>
  </div>
  <div style="height: 380px"></div>
</section>
