<section class="container py-5 my-lg-3 my-xl-4 my-xxl-5">
  <div class="py-2 py-sm-3 py-md-4 my-md-2 my-xxl-3">
    <h2 class="h1 text-center pt-xxl-1">See how the previous event unfolded</h2>
    <p class="fs-lg text-center pb-3 mb-lg-4">
      Get inspired with a selection of the keynotes about the Conference 2022
    </p>
    <div class="gallery row g-3 g-md-4" data-video="true">
      <div class="col-sm-6">
        <div class="row g-3 g-md-4">
          <a
            class="col-6 gallery-item d-block card-hover zoom-effect"
            (click)="open(0)"
          >
            <div
              class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden z-2 opacity-0"
            >
              <i class="ai-zoom-in fs-2 text-white position-relative z-2"></i>
              <div
                class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"
              ></div>
            </div>
            <div class="zoom-effect-wrapper rounded-4">
              <img
                class="zoom-effect-img"
                src="assets/img/landing/conference/gallery/th01.jpg"
                alt="Auditorium"
              />
            </div>
          </a>

          <a
            class="col-6 gallery-item d-block card-hover zoom-effect"
            (click)="open(1)"
          >
            <div
              class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden z-2 opacity-0"
            >
              <i class="ai-zoom-in fs-2 text-white position-relative z-2"></i>
              <div
                class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"
              ></div>
            </div>
            <div class="zoom-effect-wrapper rounded-4">
              <img
                class="zoom-effect-img"
                src="assets/img/landing/conference/gallery/th02.jpg"
                alt="Comfortable chairs"
              />
            </div>
          </a>

          <a
            class="col-12 gallery-item d-block card-hover zoom-effect"
            (click)="open(2)"
          >
            <div
              class="btn btn-icon btn-lg btn-primary rounded-circle pe-none position-absolute top-50 start-50 translate-middle z-3"
            >
              <i class="ai-play-filled"></i>
            </div>
            <div
              class="position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden z-2 opacity-0"
            >
              <div
                class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"
              ></div>
            </div>
            <div class="zoom-effect-wrapper rounded-4">
              <img
                class="zoom-effect-img"
                src="assets/img/landing/conference/gallery/th05.jpg"
                alt="Conferece showreel"
              />
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row g-3 g-md-4">
          <a
            class="col-6 order-sm-2 gallery-item d-block card-hover zoom-effect"
            (click)="open(3)"
          >
            <div
              class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden z-2 opacity-0"
            >
              <i class="ai-zoom-in fs-2 text-white position-relative z-2"></i>
              <div
                class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"
              ></div>
            </div>
            <div class="zoom-effect-wrapper rounded-4">
              <img
                class="zoom-effect-img"
                src="assets/img/landing/conference/gallery/th03.jpg"
                alt="Whiteboard"
              />
            </div>
          </a>

          <a
            class="col-6 order-sm-3 gallery-item d-block card-hover zoom-effect"
            (click)="open(4)"
          >
            <div
              class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden z-2 opacity-0"
            >
              <i class="ai-zoom-in fs-2 text-white position-relative z-2"></i>
              <div
                class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"
              ></div>
            </div>
            <div class="zoom-effect-wrapper rounded-4">
              <img
                class="zoom-effect-img"
                src="assets/img/landing/conference/gallery/th04.jpg"
                alt="Coffee break"
              />
            </div>
          </a>

          <a
            class="col-12 order-sm-1 gallery-item d-block card-hover zoom-effect"
            (click)="open(5)"
          >
            <div
              class="btn btn-icon btn-lg btn-primary rounded-circle pe-none position-absolute top-50 start-50 translate-middle z-3"
            >
              <i class="ai-play-filled"></i>
            </div>
            <div
              class="position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden z-2 opacity-0"
            >
              <div
                class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"
              ></div>
            </div>
            <div class="zoom-effect-wrapper rounded-4">
              <img
                class="zoom-effect-img"
                src="assets/img/landing/conference/gallery/th06.jpg"
                alt="Speaker on stage"
              />
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="text-center pb-lg-2 pb-xl-3 pb-xxl-3 pt-4 pt-md-5 mt-3 mt-md-0">
      <a class="btn btn-lg btn-outline-primary" href="javascript:void(0);">
        See more
        <i class="ai-image ms-2"></i>
      </a>
    </div>
  </div>
</section>
