<nav class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li *ngFor="let item of menuItems" class="nav-item">
      <a
        class="nav-link"
        [routerLink]="item.url"
        routerLinkActive="active"
      >
        {{ item.label }}
      </a>
    </li>
  </ul>

  <div class="d-sm-none p-3 mt-n3">
    <a
      class="btn btn-primary w-100 mb-1"
      [href]="buyLink"
      target="_blank"
      rel="noopener"
    >
      
      Contact Us
    </a>
  </div>
  
</nav>








