<section class="position-relative py-5">
  <div class="binded-content position-absolute top-0 start-0 w-100">
    <div
      class="binded-item position-absolute top-0 start-0 w-100 h-100 bg-size-cover bg-position-center active"
      id="bg-1"
      style="
        background:
          linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
          url(assets/img/landing/shop-1/collections/bg01.jpg);
      "
    ></div>
    <div
      class="binded-item position-absolute top-0 start-0 w-100 h-100 bg-size-cover bg-position-center"
      id="bg-2"
      style="
        background-image:
          linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.5) -0.47%,
            rgba(0, 0, 0, 0) 100%
          ),
          url(assets/img/landing/shop-1/collections/bg02.jpg);
      "
    ></div>
  </div>
  <div class="container py-2 py-sm-4 py-lg-5 my-md-3 my-lg-0 my-xl-3 my-xxl-4">
    <div class="row align-items-center my-xxl-2">
      <div class="col-md-6 position-relative z-2 mb-5 mb-md-0">
        <div style="max-width: 580px">
          <div class="d-flex pb-2 mb-3 mb-md-4 mb-xl-5">
            <button
              class="btn btn-icon btn-sm btn-outline-light rounded-circle me-3"
              type="button"
              id="prev-collection"
              aria-label="Prev"
            >
              <i class="ai-arrow-left"></i>
            </button>
            <button
              class="btn btn-icon btn-sm btn-outline-light rounded-circle"
              type="button"
              id="next-collection"
              aria-label="Next"
            >
              <i class="ai-arrow-right"></i>
            </button>
          </div>

          <div #quoteSwiper class="swiper" binded-content="true">
            <div class="swiper-wrapper">
              @for (item of productCollectionDetailData; track $index) {
                <div
                  class="swiper-slide"
                  attr.data-swiper-binded="{{ item.dataSwiperBinded }}"
                >
                  <h2
                    class="display-5 text-white text-uppercase pb-2 mb-md-4 mb-xl-5"
                  >
                    {{ item.text }}
                  </h2>
                  <a
                    class="btn btn-outline-light"
                    routerLink="{{ item.buttonLink }}"
                    >{{ item.buttonText }}</a
                  >
                </div>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1 offset-xl-2">
        <div class="ps-md-4 ps-lg-0">
          <div class="card border-0 rounded-1" style="max-width: 450px">
            <div class="card-body">
              <div #cardSwiper class="swiper" id="cards">
                <div class="swiper-wrapper">
                  @for (item of productCollectionData; track $index) {
                    <div class="swiper-slide">
                      <a
                        class="d-block pb-3 mb-2 mb-lg-3"
                        routerLink="/shop/product"
                      >
                        <img [src]="item.imageUrl" alt="Collection" />
                      </a>
                      <div class="d-flex mb-1">
                        <h3 class="h6 mb-0">
                          <a routerLink="/shop/product">{{ item.title }}</a>
                        </h3>
                      </div>
                      <div class="d-flex align-items-center">
                        <span class="me-2">{{ currency }}{{ item.price }}</span>
                        <div
                          class="nav ms-auto"
                          data-bs-toggle="tooltip"
                          data-bs-template='<div class="tooltip fs-xs" role="tooltip"><div class="tooltip-inner bg-light text-body-secondary p-0"></div></div>'
                          data-bs-placement="left"
                          ngbTooltip="Add to cart"
                        >
                          <a
                            class="nav-link fs-lg py-2 px-1"
                            href="javascript:void(0);"
                            aria-label="Add to Cart"
                          >
                            <i class="ai-cart"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
